
<!DOCTYPE html>
<html>
  <head>
    <title>Image Search Abstraction Microservice</title>
    <meta name="description" content="Image Search Abstraction Microservice">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/main-style.css">
  </head>
  <body>
    <header>
      <h1>
        Image Search Abstraction Microservice
      </h1>
    </header>

    <main>

      <p>Returns an array of JSON objects of images related to a particular search term.</p>

      <h2 id="usage">Usage</h2>

      <ul>
      <li>Pass a search term in the URL to get JSON object of related images.</li>

      <li>Use 'page' to select which page to display from.</li>

      <li>Get the last 20 searches by using 'recent'.</li>

      </ul>
      
      <h3>Example</h3>
      
      <h4>Get related images from a search term:</h4>
      
      <ul>
        <li>https://as-image-search.glitch.me/search/baby%20dresses?page=1</li>
      </ul>
      
      <h4>Get last 20 searches:</h4>
      
      <ul>
        <li>https://as-image-search.glitch.me/recent</li>
      </ul>

      <p>Sample JSON Output:</p>

      <div class="wrap-code">
        <code>
          {<br/>
            &nbsp;"URL": "http://www.carters.com/dw/image/v2/AAMK_PRD/on/demandware.static/-/<br/>
            &nbsp; &nbsp;Sites-carters_master_catalog/default/dwcbd14ecc/productimages/118H540.jpg?sw=244",<br/>
            &nbsp;"Title": "Baby Girl Dresses & Rompers | Carter's | Free Shipping",<br/>
            &nbsp;"Page URL": "http://www.carters.com/carters-baby-girl-dresses"<br/>
          }
        </code>
      </div>

      <p>Sample Error:</p>

      <div class="wrap-code">
        <code>
          { <br/>
              &nbsp;"Error": "Invalid page number. Please try a lower number." <br/>
            } 
        </code>
      </div>
      
    </main>

    <footer>
    </footer>

  </body>
</html>